<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <style>
        .btn-logout {
        background-color: #ff4d4d;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 20px;
    }

    .btn-logout:hover {
        background-color: #ff6666;
    }

    </style>
</head>
<body>
    <p>page securise</p>
    
   <!-- Bouton de déconnexion -->
   <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn-logout">Se déconnecter</button>
    </form>
</body>
</html>